@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@300;400;600&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  font-family: "Sofia Sans Condensed", sans-serif;
}
